{
	admin off
	auto_https off
}

:8080 {
	encode zstd gzip
	@pocketbase_host host pb.dashboardicons.com
	handle @pocketbase_host {
		reverse_proxy {$PB_UPSTREAM:127.0.0.1:8090}
	}
	redir /pb /pb/ 308
	handle_path /pb/* {
		reverse_proxy {$PB_UPSTREAM:127.0.0.1:8090}
	}
	handle {
		reverse_proxy 127.0.0.1:3000
	}
}
